main.main
    h2.main__title Hello Evano 👋🏼

    section.customers 
        .customers__header
            .customers__block-title
                h2.customers__title All Customers
                p.customers__subtitle Active Members
            form.form(action="")
                label(for="").form__label 
                 input(type="text" placeholder="Search" class="form__input")
        table.costumers__table
            thead
                tr
                 th Customer Name
                 th Company
                 th Phone Number
                 th Email
                 th Country
                 th Status
            tbody 
                tr 
                 td Jane Cooper
                 td Microsoft
                 td (225) 555-0118
                 td jane@microsoft.com
                 td United States
                 td
                    a(href="#!").button Active
                tr 
                 td Floyd Miles
                 td Yahoo
                 td (205) 555-0100
                 td floyd@yahoo.com
                 td Kiribati
                 td
                    a(href="#!" class="button button--red") Inactive
                tr 
                 td Ronald Richards
                 td Adobe
                 td (302) 555-0107
                 td ronald@adobe.com
                 td Israel
                 td
                    a(href="#!" class="button button--red") Inactive
                tr 
                 td Marvin McKinney
                 td Tesla
                 td (252) 555-0126
                 td marvin@tesla.com
                 td Iran
                 td
                    a(href="#!").button Active
                tr 
                 td Jerome Bell
                 td Google
                 td (629) 555-0129
                 td jerome@google.com
                 td Réunion
                 td
                    a(href="#!").button Active
                tr 
                 td Kathryn Murphy
                 td Microsoft
                 td (406) 555-0120
                 td kathryn@microsoft.com
                 td Curaçao
                 td
                    a(href="#!").button Active
                tr 
                 td Jacob Jones
                 td Yahoo
                 td (208) 555-0112
                 td jacob@yahoo.com
                 td Brazil
                 td
                    a(href="#!").button Active
                tr 
                 td Kristin Watson
                 td Facebook
                 td (704) 555-0127
                 td kristin@facebook.com
                 td Åland Islands
                 td
                    a(href="#!" class="button button--red") Inactive
        
        .main__footer
            .main__footer-block
                .main__footer-text
                 .main__footer-p Showing data 1 to 8 of  256K entries
                .main__footer-pages
                 div(class="main__footer-page")|&lt;
                    a(href="#!")  
                 div(class="main__footer-page active") 1
                    a(href="#!")
                 div(class="main__footer-page") 2
                    a(href="#!") 
                 div(class="main__footer-page") 3
                    a(href="#!") 
                 div(class="main__footer-page") 4
                    a(href="#!") 
                 div(class="footer-page__empty") ...
                 div(class="main__footer-page") 40
                    a(href="#!") 
                 div(class="main__footer-page")|&gt;
                    a(href="#!") 

            
             

                 

                 