main#main.main
    h2.main__title Hello Evano 👋🏼

    section.customers 
        .customers__header
            .customers__block-title
                h2.customers__title All Customers
                p.customers__subtitle Active Members
            form.form(action="")
                label(for="").form__label 
                 input(type="text" placeholder="Search" class="form__input")
        .costumers__table
            .costumers__table-head
                .costumers__table-row
                    .costumers__table-item Customer Name
                    .costumers__table-item Company
                    .costumers__table-item Phone Number
                    .costumers__table-item Email
                    .costumers__table-item Country
                    .costumers__table-item Status
            .costumers__table-body
                .costumers__table-row
                    .costumers__table-item Jane Cooper
                    .costumers__table-item Microsoft
                    .costumers__table-item (225) 555-0118
                    .costumers__table-item jane@microsoft.com
                    .costumers__table-item United States
                    .costumers__table-item
                        a(href="#!" class="button") Active 
                .costumers__table-row
                    .costumers__table-item Floyd Miles
                    .costumers__table-item Yahoo
                    .costumers__table-item (205) 555-0100
                    .costumers__table-item floyd@yahoo.com
                    .costumers__table-item Kiribati
                    .costumers__table-item
                        a(href="#!" class="button button--red") Inactive 
                .costumers__table-row
                    .costumers__table-item Ronald Richards
                    .costumers__table-item Adobe
                    .costumers__table-item (302) 555-0107
                    .costumers__table-item ronald@adobe.com
                    .costumers__table-item Israel
                    .costumers__table-item
                        a(href="#!" class="button button--red") Inactive 
                .costumers__table-row
                    .costumers__table-item Marvin McKinney
                    .costumers__table-item Tesla
                    .costumers__table-item (252) 555-0126
                    .costumers__table-item marvin@tesla.com
                    .costumers__table-item Iran
                    .costumers__table-item
                        a(href="#!" class="button") Active 
                .costumers__table-row
                    .costumers__table-item Jerome Bell
                    .costumers__table-item Google
                    .costumers__table-item (629) 555-0129
                    .costumers__table-item jerome@google.com
                    .costumers__table-item Réunion
                    .costumers__table-item
                        a(href="#!" class="button") Active 
                .costumers__table-row
                    .costumers__table-item Kathryn Murphy
                    .costumers__table-item Microsoft
                    .costumers__table-item (406) 555-0120
                    .costumers__table-item kathryn@microsoft.com
                    .costumers__table-item Curaçao
                    .costumers__table-item
                        a(href="#!" class="button") Active 
                .costumers__table-row
                    .costumers__table-item Jacob Jones
                    .costumers__table-item Yahoo
                    .costumers__table-item (208) 555-0112
                    .costumers__table-item janejacob@yahoo.com
                    .costumers__table-item Brazil
                    .costumers__table-item
                        a(href="#!" class="button") Active 
                .costumers__table-row
                    .costumers__table-item Kristin Watson
                    .costumers__table-item Facebook
                    .costumers__table-item (704) 555-0127
                    .costumers__table-item kristin@facebook.com
                    .costumers__table-item Åland Islands
                    .costumers__table-item
                        a(href="#!" class="button button--red") Inactive 
        
        .main__footer
            .main__footer-block
                .main__footer-text
                 .main__footer-p Showing data 1 to 8 of  256K entries
                .main__footer-pages
                 div(class="main__footer-page")|&lt;
                    a(href="#!")  
                 div(class="main__footer-page active") 1
                    a(href="#!")
                 div(class="main__footer-page") 2
                    a(href="#!") 
                 div(class="main__footer-page") 3
                    a(href="#!") 
                 div(class="main__footer-page") 4
                    a(href="#!") 
                 div(class="footer-page__empty") ...
                 div(class="main__footer-page") 40
                    a(href="#!") 
                 div(class="main__footer-page")|&gt;
                    a(href="#!") 

            
             

                 

                 