.main {
  background-color: #f7f4ff;
  width: 100%;
  height: 100%;
  padding: 41px 49px 0px 49px;
}

.main__title {
  margin-bottom: 51px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.customers {
  width: 100%;
  padding-top: 22px;
  background-color: #fff;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
}

.customers__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-right: 38px;
  padding-left: 38px;
}

.customers__title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.01em;
}

.customers__subtitle {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #16c098;
}

.form {
  height: 38px;
  border-radius: 29px;
  transition: 0.3s ease-in;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9fbff;

  &--active {
    box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  }

  &--active .form__label::before {
    display: none;
  }

  &--active .form__label {
    padding-left: 20px;
  }
}

.form__label {
  position: relative;
  width: 216px;
  height: 100%;
  padding-right: 20px;
  padding-left: 40px;
  background-color: #f9fbff;
  border-radius: 10px;
  transition: 0.2s all ease-in;

  &::before {
    position: absolute;
    left: 8px;
    top: calc(50% - 12px);
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/svg/form-icon.svg);
    background-size: initial;
  }
}

.form__input {
  width: 100%;
  height: 100%;
  //   margin-right: 15px;

  &::placeholder {
    color: $light-grey-color;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
  }
}

.costumers__table {
  width: 100%;
  margin-bottom: 32px;
}

.costumers__table-head {
  width: 100%;
  padding-right: 38px;
  padding-left: 38px;
  border-bottom: 1px solid #eeeeee;

  & .costumers__table-row {
    padding-bottom: 14px;
  }

  & .costumers__table-item:last-child {
    text-align: center;
    box-sizing: content-box;
  }

  & .costumers__table-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: $light-grey-color;
  }
}

.costumers__table-row {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}

.costumers__table-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  overflow: hidden;
  color: #292d32;
}

.costumers__table-body {
  padding-right: 38px;
  padding-left: 38px;

  & .costumers__table-item:last-child {
    text-align: center;
  }

  & .costumers__table-row {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
  }
}

.main__footer {
}

.main__footer-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 38px;
  padding-right: 38px;
  padding-bottom: 40px;
}

.main__footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #b5b7c0;
}

.main__footer-pages {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.main__footer-page {
  position: relative;
  width: 26px;
  height: 24px;
  text-align: center;
  background-color: #f5f5f5;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #404b52;
  transition: 0.2s all ease-in;

  &.active {
    background: #5932ea;
    border: 1px solid #5932ea;
    color: #fff;
  }
  &:hover {
    background: #5932ea;
    border: 1px solid #5932ea;
    color: #fff;
  }

  a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.footer-page__empty {
  background-color: white;
  border: white;
  width: auto;
  height: auto;
  border-radius: 0;
}
.page-arrow-left {
}
.page-arrow-right {
}

// Media
@media screen and (max-width: 1024px) {
  .main {
    padding: 20px 20px 0px 20px;
  }

  .main__title {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
  }

  .customers__header {
    padding-right: 20px;
    padding-left: 20px;
  }

  .costumers__table-body .costumers__table-row {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
  }

  .costumers__table-row {
    grid-template-columns: 90px 70px 90px 120px 76px 62px !important;
  }
}

@media screen and (max-width: 1024px) {
  .main__title {
    text-align: right;
  }

  .costumers__table-head .costumers__table-item {
    line-height: 16px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding: 20px 0px 0px 0px;
  }

  .main__title {
    margin-right: 20px;
    margin-bottom: 60px;
  }

  .customers {
    padding-top: 24px;
    border-radius: 0;
  }

  .customers__header {
    padding-right: 10px;
    padding-left: 10px;
  }

  .customers__title {
    line-height: 24px;
    font-size: 20px;
  }

  .form__label {
    width: 180px;
}

  .costumers__table-head {
    padding-right: 10px;
    padding-left: 10px;
  }
  .costumers__table-body {
    padding-right: 10px;
    padding-left: 10px;
  }

  .costumers__table-row {
    grid-template-columns: repeat(6, 1fr) !important;
  }

  .costumers__table-body .costumers__table-row {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .costumers__table-item {
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
  }

  .costumers__table-head .costumers__table-item {
    line-height: 14px;
  }

  .main__footer-block {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
}
}
